.cart_container {
  height: 50px;
  display: flex;
  width: 100%;
}
.container_navbot {
  display: flex;
  gap: 20px;
}
.button_navbot {
  display: flex;
  position: flex-end;
  height: 20px;
  gap: 20px;
}
