.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  text-align: center;
  padding: 50px;
  max-width: 80%;
  margin: auto;
}
.product {
  border: solid black;
  align-items: center;
  padding: 10px;
}
.product_price .product_quantity .product_name {
  margin: 6px;
}
.input_container {
  display: table;
}
.input {
  width: 50%;
  margin: 10px;
}

img {
  height: 100px;
  width: 100px;
}

/* Responsive */

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
